APP_VARIANT=development
EXPO_PUBLIC_VERSION_APP=1.4.2
EXPO_PUBLIC_BASE_URL=
EXPO_PUBLIC_BASE_API_URL=
EXPO_PUBLIC_STOCK_IDX_API_URL=https://screener-facade.tradingview.com/screener-facade/api/v1/screener-table/scan?id=stocks_market_movers.all_stocks&version=47&columnset_id=overview&market=indonesia